/* DOCUMENTO CSS */

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

body {
    background-color: #09C2E1;
    color:  #FECB45;
    font: 14pt Arial;
    text-align: center;
}
.box {
    width: 80%;
    height: 120%;
    margin: 50px auto;
    border: 2px black solid;
    background-color: #F5F5F4;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000A;
    text-align: center;
}

.box h1 {
    margin-top: 20px;
}

input {
    color: black;
    height: 30px;
    width: 80%;
    margin-bottom: 30px;
}

#resp {
    font-size: large;
    color:  #09C2E1;
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border-color: #09C2E1;
    margin: 10px 4px;
} 

.voltar button{
    background-color: #F5F5F4;
    color: #FF5184;
    font-size: 23px;
    width: 200px;
    height: 55px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000A;
    transition: ease .25s;
}

.voltar button:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}